SEM 1/Python Programming/LAB/.venv/
SEM 2/Data Mining and ML/LAB/.venv/
SEM 2/Exploratory Data Analysis/LAB/.venv/
SEM 2/Regression Analysis/LAB/.venv/
SEM 3/Deep Learning/LAB/.venv/
SEM 3/Natural Language Processing/LAB/.venv/
SEM 1/Qualitative Skill Practices/
SEM 1/Technical Report Writting/